$font-color: #3d3d3d;
$paragraph-color: #6d6d6d;

$background-contact: #566454;

.blog-prev__content {
  width: 100%;
  height: 100%;

  .component__title {
    text-align: left;
    width: auto;
  }

  .latest_posts {
    display: grid;
    align-items: center;
    justify-content: center;

    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 1rem;
    list-style: none;

    .list_post_item {
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      pointer-events: none;

      padding: 1em;
      transition: all 0.5s;

      &:hover {
        background: rgba($color: $paragraph-color, $alpha: 0.08);

        .text__content {
          h2 {
            text-decoration: underline;
          }
        }
        .button__content {
          button {
            background: rgba($color: $background-contact, $alpha: 0.8);
            color: #fffffe;
          }
        }
      }

      .image__content {
        padding: 0;
        img {
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .text__content {
        p {
          color: $paragraph-color;
        }

        .text__published {
          font-weight: 600;
        }

        h2 {
          color: $font-color;
          margin-bottom: 0.2rem;
          font-size: min(20px, 2vw);
          text-align: justify;

          transition: all 0.3s linear;
          cursor: pointer;
          pointer-events: auto;
        }

        .post__categories {
          width: 100%;
          display: flex;
          margin-bottom: 1rem;

          h6 {
            color: $background-contact;
            margin-right: 0.3rem;
          }
        }

        .post__content {
          display: -webkit-box;
          width: 100%;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-align: justify;
          font-size: min(16px, 1.5vw);
        }
      }

      .button__content {
        display: flex;
        justify-content: right;
        button {
          width: 9rem;

          color: $font-color;
          background: rgba($color: $background-contact, $alpha: 0.2);
          font-size: min(16px, 1.5vw);
          font-weight: 700;

          margin-top: 0.9rem;
          padding: 0.4rem;
          border: none;

          cursor: pointer;
          pointer-events: auto;

          transition: all 0.3s;
        }
      }
    }
  }

  .blog__link-div {
    width: 100%;
    height: 3em;
    display: grid;
    align-items: center;
    margin: 1em 0 0;

    .blog__link {
      text-decoration: none;
      color: $font-color;
      font-size: 18px;
      font-weight: 600;

      text-align: right;

      transition: all 0.4s ease;
      cursor: pointer;

      &:hover {
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
}
