<div class="main-post-content" [@popOverState]="postChange">
  <div class="post__content">
    <app-post-datail [post]="post"></app-post-datail>
  </div>
  <div class="next-prev-post__container">
    <div *ngIf="nextPost">
      <h3 class="next-post">następny post</h3>
      <div class="list_post_item">
        <app-post-card [post]="nextPost"></app-post-card>
      </div>
    </div>
    <div *ngIf="prevPost">
      <h3 class="prev-post">poprzedni post</h3>
      <div class="list_post_item">
        <app-post-card [post]="prevPost"></app-post-card>
      </div>
    </div>
  </div>
</div>
