<div class="about__container">
  <div class="about__content">
    <div class="my_photo__container">
      <img
        src="../../assets/LandingPageImages/personal.jpg"
        alt="Zdjęcie profilowe"
      />
    </div>
    <div class="my_text__container">
      <h2 class="component__title">o mnie</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum, illum
        reprehenderit. Illum cupiditate quibusdam rem consequuntur tenetur qui
        autem commodi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ipsa
        eos, accusantium, aliquid expedita
        <strong>est quaerat nemo porro</strong>, eum in sunt totam alias
        officiis delectus iste! Voluptates maxime hic iste?
      </p>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, minima!
        Alias illum voluptate pariatur in ipsum culpa adipisci nemo voluptatem.
      </p>
    </div>
  </div>
</div>
