<div class="personal-info__content">
  <div class="personal-info__text">
    <img
      src="../../assets/LandingPageImages/personal.jpg"
      alt="Zdjęcie profilowe"
    />

    <h2>o mnie</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum, illum
      reprehenderit. Illum cupiditate quibusdam rem consequuntur tenetur qui
      autem commodi.
    </p>
  </div>
  <ul class="social_list">
    <li>
      <a href="#" rel="noopener noreferrer" target="_blank"
        ><img
          src="../../assets/LandingPageImages/icons/i_facebook_dark.png"
          alt="Facebook"
      /></a>
    </li>
    <li>
      <a href="#" rel="noopener noreferrer" target="_blank"
        ><img
          src="../../assets/LandingPageImages/icons/i_insta_dark.png"
          alt="Instagram"
      /></a>
    </li>
    <li>
      <a href="#" rel="noopener noreferrer" target="_blank"
        ><img
          src="../../assets/LandingPageImages/icons/i_linked_dark.png"
          alt="Linkedin"
      /></a>
    </li>
  </ul>
</div>
