$font-color: #3d3d3d;
$paragraph-color: #6d6d6d;

$background-contact: #566454;

.blog__content {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  position: relative;

  .blog__categories {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    color: $font-color;
    height: 25em;
    width: 10em;
    list-style: none;

    padding: 1em 0;

    background: rgba($color: $background-contact, $alpha: 0.1);

    .blog__categories-h3 {
      display: grid;
      align-items: center;
      width: 100%;
      height: 100%;
      h3 {
        padding: 0 2em;
        align-items: center;
      }
    }

    .blog__categories-item {
      width: 100%;
      height: 100%;

      display: grid;
      align-items: center;
      padding: 0 2em;
      transition: all 0.2s;
      cursor: pointer;

      &:hover {
        .post__category {
          font-size: 18px;
        }
      }
      .post__category {
        font-weight: 600;
        color: $background-contact;
        transition: all 0.2s;
      }
    }
  }

  .blog-list__list {
    display: grid;
    align-items: center;
    justify-content: center;

    width: calc(100% - 13rem);
    grid-template-columns: repeat(1, minmax(0, 1fr));
    column-gap: 1rem;
    row-gap: 2rem;
    list-style: none;

    .list_post_item {
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      pointer-events: none;

      padding: 1em;
      transition: all 0.2s;

      &:hover {
        background: rgba($color: $paragraph-color, $alpha: 0.1);

        .text__content {
          h2 {
            text-decoration: underline;
          }
        }
        .button__content {
          button {
            background: rgba($color: $background-contact, $alpha: 0.8);
            color: #fffffe;
          }
        }
      }

      .image__content {
        padding: 0;

        img {
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .text__content {
        p {
          color: $paragraph-color;
        }

        .text__published {
          font-weight: 600;
        }

        h2 {
          color: $font-color;
          margin-bottom: 0.2rem;
          font-size: min(20px, 2vw);
          text-align: justify;

          transition: all 0.2s;
          cursor: pointer;
          pointer-events: auto;
        }

        .post__content {
          display: -webkit-box;
          width: 100%;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-align: justify;
          font-size: min(16px, 1.5vw);
        }

        .post__categories-div {
          width: 100%;
          display: flex;
          margin-bottom: 1rem;

          h6 {
            color: $background-contact;
            margin-right: 0.3rem;
            transition: all 0.2s;
            cursor: pointer;
          }
        }
      }

      .button__content {
        display: flex;
        justify-content: right;

        button {
          width: 9rem;

          color: $font-color;
          background: rgba($color: $background-contact, $alpha: 0.2);
          font-size: min(16px, 1.5vw);
          font-weight: 700;

          margin-top: 0.9rem;
          padding: 0.4rem;
          border: none;

          cursor: pointer;
          pointer-events: auto;

          transition: all 0.3s;
        }
      }
    }
  }
}
