<div class="blog__content">
  <div class="main__content" [@popOverState]="stateName">
    <ul
      class="blog-list__list"
      [ngStyle]="{
        'grid-template-columns':
          'repeat(' + list_display_col + ', minmax(0, 1fr))'
      }"
      *ngIf="(filteredPosts | async)?.length > 0; else nodata"
    >
      <li class="list_post_item" *ngFor="let post of filteredPosts | async">
        <app-post-card [post]="post"></app-post-card>
      </li>
    </ul>
    <ng-template #nodata>
      <div class="no-data-container">
        <h3>Przykro mi</h3>
        <p>Nie znaleziono postów spełniających kryteria</p>
      </div>
    </ng-template>
  </div>
</div>
