<div class="blog__content">
  <div class="layout__content">
    <ul class="layout__filter-list">
      <li>
        <img
          src="../../../../assets/icons/list-layout.svg"
          alt="List layout icon"
          (click)="changeLayout(1)"
        />
      </li>
      <li>
        <img
          src="../../../../assets/icons/grid-layout.svg"
          alt="Grid 2x2 layout icon"
          (click)="changeLayout(2)"
        />
      </li>
      <li>
        <img
          src="../../../../assets/icons/grid_3-layout.svg"
          alt="Grid 3x3 layout icon"
          (click)="changeLayout(3)"
        />
      </li>
    </ul>
  </div>
  <div class="main__content" [@popOverState]="stateName">
    <ul
      class="blog-list__list"
      [ngStyle]="{
        'grid-template-columns':
          'repeat(' + list_display_col + ', minmax(0, 1fr))'
      }"
    >
      <li class="list_post_item" *ngFor="let post of filteredPosts | async">
        <app-post-card [post]="post"></app-post-card>
      </li>
    </ul>
  </div>
</div>
