<div class="contact__container">
  <div class="email__container">
    <h3>jeśli chcesz się ze mną skontaktować</h3>
    <a href="mailto:someone@example.com">someone@example.com</a>
  </div>
  <p>lub</p>
  <div class="social_media__container">
    <h3>znajdź mnie w social mediach</h3>
    <ul class="social_list">
      <li>
        <a href="#" rel="noopener noreferrer" target="_blank"
          ><img
            src="../../assets/LandingPageImages/icons/i_facebook_dark.png"
            alt="Facebook"
        /></a>
      </li>
      <li>
        <a href="#" rel="noopener noreferrer" target="_blank"
          ><img
            src="../../assets/LandingPageImages/icons/i_insta_dark.png"
            alt="Instagram"
        /></a>
      </li>
      <li>
        <a href="#" rel="noopener noreferrer" target="_blank"
          ><img
            src="../../assets/LandingPageImages/icons/i_linked_dark.png"
            alt="Linkedin"
        /></a>
      </li>
    </ul>
  </div>
</div>
