$font-color: #3d3d3d;
$background-contact: #566454;
.contact__container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgba($color: $background-contact, $alpha: 0.2);

  h3 {
    font-size: min(2vw, 24px);
    margin-bottom: 2vh;
    font-weight: 400;
  }

  .email__container {
    width: 100%;
    text-align: center;
    margin-bottom: 4vh;

    a {
      text-decoration: none;
      color: $font-color;
      font-size: min(3vw, 36px);
      letter-spacing: 0.09em;
      font-weight: 600;
      position: relative;

      &::before {
        content: "";
        width: 100%;
        height: 1px;
        background-color: $font-color;
        position: absolute;
        bottom: 0;
        transform: scaleX(0);
        transform-origin: center;
        transition: all 0.5s;
      }

      &:hover::before {
        transform: scaleX(1);
      }
    }
  }

  p {
    font-size: min(3vh, 24px);
  }

  .social_media__container {
    width: 100%;
    text-align: center;
    margin-top: 3vh;
    display: grid;
    align-items: center;
    justify-content: center;

    .social_list {
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      width: min(30vw, 300px);

      margin: 1.5vh 0 0;

      li {
        width: 33%;
        height: min(6.5vw, 50px);

        display: grid;
        align-items: center;
        justify-content: center;
        a {
          width: 100%;
          height: 100%;
          img {
            width: min(4vw, 30px);
            height: min(4vw, 30px);

            &:hover {
              width: min(4.3vw, 35px);
              height: min(4.3vw, 35px);
            }
          }
        }
      }
    }
  }
}
