$font-color: #3d3d3d;
$span-color: #8d8d8d;
$paragraph-color: #6d6d6d;
$background-main: #fffffe;

$very-light-green: #e3e7e3;
$light-green: #c8d0c7;
$medium-green: #adb9ab;
$green: #92a190;
$medium-dark-grren: #5f6e5d;
$dark-green: #475345;

main {
  width: 100%;
  color: $font-color;
  .post-datail__hero {
    width: 100%;
    height: min(30rem, 50vh);

    display: grid;

    img {
      height: min(20rem, 25vh);
      width: 100%;
      object-fit: cover;
      object-position: center;
    }

    .hero-text {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      h1 {
        font-weight: 700;
        margin-bottom: 0.5rem;
      }
      h3 {
        font-weight: 600;
        margin-bottom: 1rem;
      }
      .details {
        display: flex;

        .space {
          margin: 0 0.5rem 0 1rem;
        }

        .published {
          color: $green;
          font-weight: 600;
          margin-bottom: 1rem;
        }
        .category {
          color: $medium-dark-grren;
          font-weight: 700;
          margin-bottom: 1rem;
          margin-left: 0.5rem;
        }
      }
    }
  }
}

.no-data-container {
  color: $font-color;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0;
  h3 {
    font-size: 24px;
    margin-bottom: 1rem;
  }
  p {
    color: $paragraph-color;
  }
}
