$font-color: #3d3d3d;
$span-color: #8d8d8d;
$paragraph-color: #6d6d6d;
$background-main: #fffffe;

$very-light-green: #e3e7e3;
$light-green: #c8d0c7;
$medium-green: #adb9ab;
$green: #92a190;
$medium-dark-grren: #5f6e5d;
$dark-green: #475345;

$phone: 600px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;

.main-post-datail {
  color: $font-color;
  width: 100%;

  .post-datail__hero {
    width: 100%;
    display: grid;
    margin-bottom: 2rem;

    img {
      height: 12rem;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }

    .hero-text {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      margin-top: 0.5rem;

      h1 {
        font-weight: 700;
        margin-bottom: 0.5rem;
        font-size: 20px;
      }
      h3 {
        font-weight: 600;
        margin-bottom: 0.5rem;
        font-size: 16px;
        color: $paragraph-color;
      }
      .details {
        display: flex;
        flex-direction: column;
        font-size: 14px;

        .space {
          display: none;
        }

        .published {
          color: $green;
          font-weight: 600;
          margin-bottom: 0.5rem;
        }
        .category {
          color: $medium-dark-grren;
          font-weight: 700;
          cursor: pointer;
        }
      }
    }
  }

  .no-data-container {
    color: $font-color;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0;
    h3 {
      font-size: 24px;
      margin-bottom: 1rem;
    }
    p {
      color: $paragraph-color;
    }
  }

  .post-detail__content {
    width: 100%;

    .post__content {
      text-align: justify;
      line-height: 2;
    }
  }

  @media only screen and (min-width: $tablet) {
    .post-datail__hero {
      img {
        height: 20rem;
      }

      .hero-text {
        margin-top: 1rem;

        h1 {
          margin-bottom: 1rem;
          font-size: 24px;
        }
        h3 {
          margin-bottom: 0.8rem;
          font-size: 18px;
        }
        .details {
          flex-direction: row;

          .space {
            display: block;
            margin-left: 0.5rem;
            margin-right: 0.1rem;
          }

          .published {
            color: $green;
            font-weight: 600;
            margin-bottom: 0.5rem;
          }
          .category {
            font-size: 14px;
            margin-left: 0.4rem;
          }
        }
      }
    }
  }

  @media only screen and (min-width: $laptop) {
    .post-datail__hero {
      img {
        height: 25rem;
      }

      .hero-text {
        h1 {
          font-size: 32px;
        }
        h3 {
          margin-bottom: 0.8rem;
          font-size: 20px;
        }
      }
    }
  }
}

// .post-datail__hero {
//   width: 100%;
//   display: grid;
//   margin-bottom: 2rem;

//   img {
//     height: min(20rem, 25vh);
//     width: 100%;
//     object-fit: cover;
//     object-position: center;
//   }

//   .hero-text {
//     width: 100%;
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-end;

//     margin-top: 1rem;

//     h1 {
//       font-weight: 700;
//       margin-bottom: 0.8rem;
//       font-size: 36px;
//     }
//     h3 {
//       font-weight: 600;
//       margin-bottom: 1rem;
//       font-size: 24px;
//       color: $paragraph-color;
//     }
//     .details {
//       display: flex;
//       font-size: 18px;

//       .space {
//         margin: 0 0.8rem 0 1rem;
//       }

//       .published {
//         color: $green;
//         font-weight: 600;
//         margin-bottom: 1rem;
//       }
//       .category {
//         color: $medium-dark-grren;
//         font-weight: 700;
//         margin-left: 0.8rem;
//         cursor: pointer;
//       }
//     }
//   }
// }

// .post-detail__content {
//   width: 100%;

//   .post__content {
//     text-align: justify;
//     line-height: 2;
//   }
// }
