<div class="navigation-content">
  <div class="logo__container">
    <h1 routerLink="/" class="logo__text">Karo.</h1>
  </div>

  <div class="menu-btn__container" #menubtn__container (click)="menuOpen()">
    <div class="menu-btn"></div>
  </div>
  <div class="links__container">
    <ul>
      <li>
        <a
          routerLink="home"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: false }"
          (click)="menuOpen()"
          >Home</a
        >
      </li>
      <li>
        <a
          routerLink="home"
          [queryParams]="{ section: 'about-me' | json }"
          (click)="menuOpen()"
        >
          O mnie</a
        >
      </li>
      <li>
        <a
          routerLink="home"
          [queryParams]="{ section: 'contact' | json }"
          (click)="menuOpen()"
        >
          Kontakt</a
        >
      </li>
      <li>
        <a
          routerLink="../blog"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: false }"
          (click)="menuOpen()"
          >Blog</a
        >
      </li>
    </ul>
  </div>
</div>
