<div class="navigation-content">
  <div class="logo__container">
    <h1 routerLink="/" class="logo__text">Karo.</h1>
  </div>
  <div class="links__container">
    <ul>
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li>
        <a
          routerLink="blog"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: false }"
          >Blog</a
        >
      </li>
      <li>
        <a
          routerLink="contact"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Kontakt</a
        >
      </li>
    </ul>
  </div>
</div>
