$font-color: #3d3d3d;
$span-color: #8d8d8d;
$paragraph-color: #6d6d6d;

.blog__hero {
  position: relative;

  width: 100%;
  height: 20vh;
  margin: 5vh 0 10vh;

  display: grid;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 5%;
    width: min(60rem, 90%);
    height: 0.5vh;
    background: $font-color;
    border-radius: 24px;
  }

  .text__container {
    background: rgba(255, 255, 254, 0.6);
    backdrop-filter: blur(2px);
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 5%;

    h1 {
      width: min(50rem, 100%);
      margin-bottom: 1rem;
      font-size: min(3vw, 50px);
      span {
        color: $span-color;
        font-size: min(2vw, 30px);
      }
    }
    p {
      width: min(50rem, 100%);
      color: $paragraph-color;
      font-size: min(1.5vw, 24px);
      font-weight: 500;
      letter-spacing: 0.15rem;
    }
  }
}

.blog__content {
  padding: 0 10%;
}
