<main>
  <section class="blog__hero">
    <div class="text__container">
      <h1><span>(nie)</span>zwyczajny blog naukowy</h1>
      <p>
        trochę zwyczajnych przemyśleń przeplatanych niezwyczajnymi treściami
        naukowymi
      </p>
    </div>
  </section>

  <section class="blog__manipulation">
    <div class="categories__content">
      <ul class="blog__categories-list">
        <div class="blog__categories-h3">
          <h3>kategorie:</h3>
        </div>
        <li
          class="blog__categories-item"
          *ngFor="let category of categories; let i = index"
        >
          <a
            class="post__category"
            routerLink="../blog"
            routerLinkActive="active"
            [queryParams]="{ category: category | json }"
            (click)="blogList.toggle(category)"
            >#{{ category }}</a
          >
        </li>
        <li class="blog__categories-item">
          <a
            class="post__category"
            routerLink="../blog"
            (click)="blogList.toggle('reset')"
            >reset</a
          >
        </li>
      </ul>
    </div>

    <div class="layout__content">
      <ul class="layout__filter-list">
        <li (click)="blogList.changeLayout(1)">
          <svg
            width="50"
            height="51"
            viewBox="0 0 50 51"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M50 50.2874H0V28.7356H50V50.2874ZM50 21.5517H0V0H50V21.5517Z"
              fill="#3D3D3D"
            />
          </svg>
        </li>
        <li (click)="blogList.changeLayout(2)">
          <svg
            width="30"
            height="30"
            viewBox="0 0 30 30"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M29.5833 29.5833H17.0833V17.0833H29.5833V29.5833ZM12.9166 29.5833H0.416626V17.0833H12.9166V29.5833ZM29.5833 12.9167H17.0833V0.416656H29.5833V12.9167ZM12.9166 12.9167H0.416626V0.416656H12.9166V12.9167Z"
              fill="#3D3D3D"
            />
          </svg>
        </li>
        <li (click)="blogList.changeLayout(3)">
          <svg
            width="50"
            height="50"
            viewBox="0 0 50 50"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M50 50H37.5V37.5H50V50ZM31.25 50H18.75V37.5H31.25V50ZM12.5 50H0V37.5H12.5V50ZM50 31.25H37.5V18.75H50V31.25ZM31.25 31.25H18.75V18.75H31.25V31.25ZM12.5 31.25H0V18.75H12.5V31.25ZM50 12.5H37.5V0H50V12.5ZM31.25 12.5H18.75V0H31.25V12.5ZM12.5 12.5H0V0H12.5V12.5Z"
              fill="#3D3D3D"
            />
          </svg>
        </li>
      </ul>
    </div>
  </section>

  <section class="blog__content">
    <app-post-list [category]="currentCategory"></app-post-list>
  </section>
</main>
