<div class="home__container">
  <div class="hero__container">
    <div class="text__container">
      <h1>moje zwyczajne przymyślenia</h1>
      <p>i niezwyczajne treści naukowe</p>
    </div>
  </div>

  <div class="about__container">
    <div class="content">
      <div class="my_photo__container">
        <img
          src="../../assets/LandingPageImages/personal.jpg"
          alt="Zdjęcie profilowe"
        />
      </div>
      <div class="my_text__container">
        <h2>o mnie</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum, illum
          reprehenderit. Illum cupiditate quibusdam rem consequuntur tenetur qui
          autem commodi.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ipsa
          eos, accusantium, aliquid expedita
          <strong>est quaerat nemo porro</strong>, eum in sunt totam alias
          officiis delectus iste! Voluptates maxime hic iste?
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore,
          minima! Alias illum voluptate pariatur in ipsum culpa adipisci nemo
          voluptatem.
        </p>
      </div>
    </div>
  </div>

  <app-contact></app-contact>
</div>
