<div class="footer">
  <div class="footer__content">
    <div class="logo__container">
      <h1 class="logo__text" routerLink="home">Karo.</h1>
    </div>
    <div class="footer__links">
      <ul class="links">
        <h3 class="link__title">Home</h3>
        <li>
          <a routerLink="home" [queryParams]="{ section: 'blog-prev' | json }"
            >Najnowsze wpisy</a
          >
        </li>
        <li>
          <a routerLink="home" [queryParams]="{ section: 'about-me' | json }">
            O mnie</a
          >
        </li>
        <li>
          <a routerLink="home" [queryParams]="{ section: 'contact' | json }">
            Kontakt</a
          >
        </li>
      </ul>

      <ul class="links">
        <h3 class="link__title">Najnowsze wpisy na blogu</h3>
        <li *ngFor="let post of latest">
          <a routerLink="blog/post/{{ post.id }}"> {{ post.title }}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="rights">
    <p>© Wszystkie prawa zastrzeżone 2022</p>
  </div>
</div>
